body.keel {
    background-color: #e4e5ea;
}

.keel {
    min-width: 21.3333333em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.231;
    color: #0f0f0f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.keel-grid {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: -0.28571428571429em;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    text-rendering: optimizespeed;
}
